<div class="container">
  <h1>Details about this beautiful island</h1>
  <p><strong>Location:</strong> <%= @island.location %> | <strong>Host:</strong> <%= @island.user.first_name %> Developer</p>
  <%= cl_image_tag @island.photo.key, height: 250, crop: :fill %>
  <% if @island.photo.attached? %>
  <% end %>

  <h4>Private island for rent by <%= @island.user.first_name %> </h4>
  <%# Still need to add user AVATAR (CREATE CSS AVATAR COMPONENT) %>

  <div class="island_detail">
    <div class="island_description">
      <%= @island.description %></p>
      <p><strong>Price:</strong> $<%= @island.price %></p>
      <p><strong>Capacity (# of guests):</strong> <%= @island.capacity %> persons</p>
      <p><%# @island.availability %></p>
    </div>

    <div class="booking_form">
      <h3>Book this island</h3>
      <div id='island-booking-dates' data-unavailable="<%= @island.unavailable_dates.to_json %>">
      <p>
        <%= simple_form_for [@island, @booking = Booking.new], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :check_in_date, as: :string, input_html: { data: { flatpickr_target: "checkInDate" } } %>
          <%= f.input :check_out_date, as: :string, input_html: { data: { flatpickr_target: "checkOutDate" }, id: "checkOutDate" } %>
          <%= f.submit "Reserve", class: "btn btn-success" %>
        <% end %>
      </p>
      </div>
    </div>
  </div>
  <div class="btn_view">
    <p><%= link_to "View all islands", islands_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<%# <%= link_to "Edit your listing", island_path, class: 'btn btn-warning' %>
