<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://st2.depositphotos.com/4398873/9839/i/950/depositphotos_98397784-stock-photo-sea-and-sun-logo.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <li><%= link_to "Add your island", new_island_path, class: "nav-link" %></li>
            <% if current_user %>
              <li><%= link_to "My bookings", users_bookings_path, class: "nav-link" %></li>
              <li><%= button_to "Log out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
              <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
            <% end  %>
          </li>

          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://static.vecteezy.com/system/resources/previews/006/487/917/original/man-avatar-icon-free-vector.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%if current_user %>
                <%# link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
              <%# else %>
                <%# link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
                <%# link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              <%# <% end %>
              <%# <% <% <a class="dropdown-item" href="#">Another action</a> %>
              <%# <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a> %>
            <%# </div> %>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
